/*
0 - 600 phone
600 - 900 tab_p
900 - 1200 tab_l
order:base
1em = 16px;
*/
.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(28, 0, 153, 0.74))), url(../../img/brooke-cagle-WHWYBmtn3_0-unsplash.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, rgba(28, 0, 153, 0.74)), url(../../img/brooke-cagle-WHWYBmtn3_0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header .logo {
  height: 35px;
}

.header .logo-box {
  position: absolute;
  top: 10vh;
  left: 6vh;
}

.header .text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 60.5em) {
  .row [class^="col-"] {
    margin-bottom: 4rem;
    display: block;
    width: 100%;
  }
  .row [class^="col-"]::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 60.5em) {
  .row {
    display: block;
    width: 60rem;
  }
}

@media (max-width: 37.5em) {
  .row {
    width: 40rem;
  }
}

.footer {
  padding: 3rem 0;
}

.footer__logo-box {
  display: inline-block;
  position: relative;
  left: 44%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__logo-box:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__list {
  list-style: none;
}

.footer__item:link, .footer__item:visited {
  text-transform: capitalize;
  text-decoration: none;
  float: left;
  padding: 0.3rem 1.2rem;
  color: white;
  font-size: 1.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 5px;
}

.footer__item:hover, .footer .special:hover {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  background-color: #ffb900;
}

.footer__copyright {
  color: white;
  font-size: 1.6rem;
  word-spacing: 1px;
}

.footer__copyright--l {
  margin-top: 3rem;
  word-spacing: 5px;
}

.footer__last {
  text-align: center;
}

.divider {
  position: absolute;
  left: 45%;
  background-color: white;
  width: 2px;
  height: 8rem;
}

@media (max-width: 60.5em) {
  .divider {
    display: none;
  }
}

.special {
  text-transform: uppercase;
  padding: 0.3rem;
  border-radius: 3px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@-webkit-keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5vh);
            transform: translateX(-5vh);
  }
  60% {
    -webkit-transform: translateX(1.2vh);
            transform: translateX(1.2vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5vh);
            transform: translateX(-5vh);
  }
  60% {
    -webkit-transform: translateX(1.2vh);
            transform: translateX(1.2vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5vh);
            transform: translateX(5vh);
  }
  60% {
    -webkit-transform: translateX(-1.2vh);
            transform: translateX(-1.2vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5vh);
            transform: translateX(5vh);
  }
  60% {
    -webkit-transform: translateX(-1.2vh);
            transform: translateX(-1.2vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInbottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInbottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  -webkit-columns: #777777;
          columns: #777777;
  padding: 3vh;
}

@media (max-width: 60.5em) {
  body {
    padding: 0;
    line-height: 1.4;
  }
}

@media (max-width: 37.5em) {
  body {
    line-height: 1.15;
  }
}

::-moz-selection {
  background-color: #000;
  color: white;
}

::selection {
  background-color: #000;
  color: white;
}

.primary-heading {
  color: white;
  display: block;
  text-transform: uppercase;
  margin-bottom: 2rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.primary-heading-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  margin-bottom: 1rem;
  -webkit-animation-name: moveInleft;
          animation-name: moveInleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media (max-width: 60.5em) {
  .primary-heading-main {
    letter-spacing: 1.5rem;
  }
}

.primary-heading-sub {
  display: block;
  letter-spacing: 0.8rem;
  font-weight: 400;
  -webkit-animation: moveInright 1s ease-out;
          animation: moveInright 1s ease-out;
}

@media (max-width: 60.5em) {
  .primary-heading-sub {
    letter-spacing: .5rem;
  }
}

.secondary-heading {
  font-size: 4rem;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  display: inline-block;
  text-transform: uppercase;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.secondary-heading:hover {
  -webkit-transform: skew(14deg, 1deg) scale(1.01, 1.2);
          transform: skew(14deg, 1deg) scale(1.01, 1.2);
  text-shadow: 0.5rem 1rem 1.4rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.margin-bottom-8 {
  margin-bottom: 6rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.bring-up {
  z-index: 10;
}

.center-text {
  text-align: center;
}

.margin-top-small {
  margin-top: 4rem;
}

.margin-top-large {
  margin-top: 10rem;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 10rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border: none;
}

.btn-white {
  background-color: white;
  color: tomato;
}

.btn:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.btn-h::after {
  background-color: white;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInbottom 1s ease 1s;
          animation: moveInbottom 1s ease 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-1, .btn-2, .btn-3 {
  color: rgba(0, 0, 0, 0.8);
}

.btn-orange {
  background-color: #ffb900;
  color: white;
}

.btn-orange::after {
  background-color: #ffb900;
}

.btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #00cc3d;
  border-bottom: 2px solid #298b73;
  font-size: 1.6rem;
  padding-bottom: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform  0.4s;
  transition: -webkit-transform  0.4s;
  transition: transform  0.4s;
  transition: transform  0.4s, -webkit-transform  0.4s;
}

.btn-text:hover {
  color: white;
  border-bottom: 0px solid #298b73;
  border-top: 2px solid #298b73;
  background-color: #2998ff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
  height: 44rem;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition:hover .composition__photo:hover {
  outline: 1.5rem solid #2998ff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  margin-top: 6rem;
  background-color: rgba(250, 250, 250, 0.8);
  text-align: center;
  padding: 2rem 0;
  z-index: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.feature-box:hover {
  -webkit-transform: translateY(-1rem) scale(1.01);
          transform: translateY(-1rem) scale(1.01);
  z-index: 20;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.feature-box__content {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(28, 0, 153, 0.74)), to(#ff7730));
  background-image: linear-gradient(to right bottom, rgba(28, 0, 153, 0.74), #ff7730);
  margin: .3rem 2rem 0rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.feature-box__content:not(:last-child) {
  margin-bottom: 2.2rem;
}

.feature-box__image {
  border-radius: 50%;
  width: 100%;
}

.feature-box .star__colored {
  font-size: 1.6rem;
  color: yellow;
}

.feature-box .star__uncolored {
  font-size: 1.6rem;
}

@media (max-width: 60.5em) {
  .feature-box {
    margin: 0 10rem;
  }
  .feature-box [class*="star"] {
    font-size: 4rem;
  }
}

@media (max-width: 37.5em) {
  .feature-box {
    margin: 0;
  }
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card__brand__name {
  display: inline-block;
  position: absolute;
  border-radius: 10px 10px 0 0;
  left: 50%;
  letter-spacing: 0.2rem;
  padding: 3% 13%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  color: white;
  font-size: 1.8rem;
}

.card__brand__name--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__brand__name--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(28, 0, 153, 0.74)));
  background-image: linear-gradient(to right bottom, #2998ff, rgba(28, 0, 153, 0.74));
}

.card__brand__name--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#80d56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #80d56f, #28b485);
}

.card__side {
  height: 50rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  position: relative;
}

.card__side--front {
  opacity: 1;
}

.card__side--back {
  position: absolute;
  bottom: 0%;
  height: 0%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(28, 0, 153, 0.74)));
  background-image: linear-gradient(to right bottom, #2998ff, rgba(28, 0, 153, 0.74));
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#80d56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #80d56f, #28b485);
}

.card:hover .card__side--front {
  opacity: 0;
  visibility: hidden;
}

.card:hover .card__side--back {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.card__picture {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-blend-mode: color-burn;
}

.card__picture-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/Apple-phone.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/Apple-phone.jpg);
}

.card__picture-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(28, 0, 153, 0.74))), url(../img/T-shirt.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, rgba(28, 0, 153, 0.74)), url(../img/T-shirt.jpg);
}

.card__picture-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#80d56f), to(#28b485)), url(../img/Mask.jpg);
  background-image: linear-gradient(to right bottom, #80d56f, #28b485), url(../img/Mask.jpg);
}

.card__price__details {
  padding: 10% 0;
  color: white;
  text-align: center;
  margin: 30% auto 20%;
  position: relative;
}

.card__price__details__only {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card__price__details__old__price {
  position: absolute;
  font-weight: 200;
  font-size: 4rem;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: opacity 0.2s ease 0.8s;
  transition: opacity 0.2s ease 0.8s;
}

.card__price__details__old__price__cut {
  position: absolute;
  top: 100%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease 1s;
  transition: opacity 0.2s ease 1s;
  font-weight: 200;
  font-size: 4rem;
}

.card__price__details__new__price {
  font-weight: 200;
  font-size: 6rem;
}

.card:hover .card__price__details .card__price__details__old__price {
  opacity: 0;
}

.card:hover .card__price__details .card__price__details__old__price__cut {
  opacity: 1;
  visibility: visible;
}

.card__button {
  letter-spacing: 1px;
  text-align: center;
}

@media (max-width: 60.5em) {
  .card {
    margin: 0 10rem 50rem;
  }
  .card *, .card:hover * {
    opacity: 1;
    visibility: visible;
  }
  .card:hover .card__side--front {
    opacity: 1;
    visibility: visible;
  }
  .card__side--back {
    visibility: visible;
    height: 100%;
    bottom: -75%;
    opacity: 1;
    z-index: -1;
  }
}

@media (max-width: 37.5em) {
  .card {
    margin: 0 1rem 50rem;
  }
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  width: 70%;
  text-align: right;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 3%;
  right: 8%;
}

.card__heading-span {
  padding: 0.7rem 1.3rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.9));
}

.card__heading-span-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(28, 0, 153, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(28, 0, 153, 0.9));
}

.card__heading-span-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(128, 213, 111, 0.8), rgba(40, 180, 133, 0.9));
}

.tours__button {
  margin-top: 14vh;
  text-align: center;
}

.story {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  width: 75%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 4rem;
  position: relative;
  padding-left: 7rem;
  border-radius: 3px;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story__bg {
  margin-top: -15rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(49, 49, 49, 0.1)), to(rgba(255, 255, 255, 0.4))), url(../img/Stories_bg.gif);
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.1), rgba(255, 255, 255, 0.4)), url(../img/Stories_bg.gif);
  -webkit-clip-path: polygon(0% 16%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 16%, 100% 0, 100% 100%, 0% 100%);
  background-size: cover;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
  z-index: -1;
}

.story__shape {
  float: left;
  width: 15rem;
  height: 15rem;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  overflow: hidden;
  -webkit-transform: translateX(-2rem) skewX(12deg);
          transform: translateX(-2rem) skewX(12deg);
  position: relative;
}

.story__caption {
  color: white;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-47%, 10%);
          transform: translate(-47%, 10%);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.story__image {
  height: 200%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.story__image--1 {
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
}

.story__image--2 {
  -webkit-transform: translate(-32%, -15%);
          transform: translate(-32%, -15%);
}

.story:hover .story__image {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.story:hover .story__image--1 {
  -webkit-transform: scale(0.8) translate(-10%, -20%);
          transform: scale(0.8) translate(-10%, -20%);
}

.story:hover .story__image--2 {
  -webkit-transform: scale(0.8) translate(-40%, -15%);
          transform: scale(0.8) translate(-40%, -15%);
}

.story:hover .story__caption {
  -webkit-transform: translate(-47%, -50%);
          transform: translate(-47%, -50%);
  opacity: 1;
}

.story__text {
  text-align: left;
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

@media (max-width: 37.5em) {
  .story, .story__text, .story__shape {
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  .story__shape {
    float: none;
    margin-bottom: 3rem;
  }
  .story__caption {
    opacity: 1;
    -webkit-transform: translate(-47%, -50%);
            transform: translate(-47%, -50%);
  }
  .story__image {
    -webkit-filter: blur(2px) brightness(80%);
            filter: blur(2px) brightness(80%);
  }
}

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group {
  margin-bottom: 3rem;
  position: relative;
}

.form__input__text {
  resize: none;
}

.form__input, .form__input__text {
  width: 90%;
  -webkit-box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  display: block;
  border: none;
  margin-bottom: 1rem;
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:focus, .form__input__text:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid green;
}

.form__input:focus:invalid, .form__input__text:focus:invalid {
  border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder, .form__input__text::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.form__label {
  display: block;
  margin-left: 1.7rem;
  position: absolute;
  font-size: 1.6rem;
  font-weight: 700;
  bottom: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.form__input:focus .form__label {
  bottom: 0%;
}

.form__input__text:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}

.form__input__text:focus .form__label {
  bottom: 0%;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.25, 0.25);
          transform: translate(-50%, -50%) scale(0.25, 0.25);
  width: 80%;
  background-color: white;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  max-height: 90vw;
}

@media (max-width: 60.5em) {
  .popup__content {
    overflow: auto;
  }
}

@media (max-width: 37.5em) {
  .popup__content {
    display: block;
  }
}

.popup__left {
  width: 33%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

@media (max-width: 60.5em) {
  .popup__left {
    width: 60%;
  }
}

@media (max-width: 37.5em) {
  .popup__left {
    display: block;
    min-width: 30rem;
    min-height: 30rem;
    top: 0;
    left: 0;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.popup__right {
  width: 67%;
  display: table-cell;
  padding: 3rem 1rem 3rem 1rem;
  vertical-align: middle;
}

.popup__img {
  height: 95%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
          transform: translate(-50%, -50%) scale(1, 1);
}

.popup__close:link, .popup__close:visited {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup__close:hover {
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  color: #2998ff;
}

.popup__text__content {
  display: table;
  margin-bottom: 2%;
}

@media (max-width: 60.5em) {
  .popup__text__content {
    display: block;
  }
}

.popup__features {
  display: table-cell;
  width: 50%;
}

.popup__features h3 {
  display: inline-block;
}

@media (max-width: 60.5em) {
  .popup__features {
    display: block;
    width: 100%;
  }
}

.popup__terms {
  display: table-cell;
  width: 50%;
}

.popup__terms h3 {
  display: inline-block;
}

@media (max-width: 60.5em) {
  .popup__terms {
    width: 100%;
  }
}

.popup__features__list {
  height: 62%;
}

.popup__features__list ul {
  display: inline-block;
  list-style-type: none;
}

.popup__features__list ul li {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 0;
  width: 90%;
  text-transform: capitalize;
  display: inline-block;
}

.popup__features__list ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.hamburger {
  position: fixed;
  right: 0%;
  top: 0%;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  z-index: 120;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hamburger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2rem;
  height: .2rem;
  background-color: black;
  z-index: 100;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.hamburger__line::before, .hamburger__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: black;
}

.hamburger__line::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.hamburger__line::after {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.hamburger:hover .hamburger__line::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.hamburger:hover .hamburger__line::before {
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.navigation {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  width: 0%;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  text-align: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.navigation__list {
  display: block;
  list-style: none;
}

.navigation__item {
  width: 100%;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation__item a:link, .navigation__item a:visited {
  text-decoration: none;
  padding: 1rem 1.4rem;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  border-radius: 4px;
}

.navigation__item a:hover {
  margin-top: 1.2rem;
  -webkit-transform: translateY(-0.6rem) scaleY(1.3) skewX(15deg);
          transform: translateY(-0.6rem) scaleY(1.3) skewX(15deg);
  -webkit-box-shadow: 0 -1rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1rem 4rem rgba(0, 0, 0, 0.2);
}

.navigation__item a:hover:not(.special__item) {
  background-color: rgba(28, 0, 153, 0.8);
}

.navigation__item a:active {
  margin: 0;
  -webkit-transform: translateY(0) scale(1) skewX(0deg);
          transform: translateY(0) scale(1) skewX(0deg);
}

.navigation__item a:active:not(.special__item) {
  background-color: rgba(0, 0, 0, 0.8);
}

.navigation .special__item:link {
  background-color: rgba(255, 185, 0, 0.8);
}

#nav_check {
  display: none;
}

#nav_check:checked ~ .navigation {
  opacity: 1;
  visibility: visible;
  width: 100vw;
}

#nav_check:checked ~ label .hamburger__line::before, #nav_check:checked ~ label .hamburger__line::after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#nav_check:checked ~ label .hamburger__line {
  -webkit-transform: rotateZ(40deg) translate(-7px, 4px) scale(1.2);
          transform: rotateZ(40deg) translate(-7px, 4px) scale(1.2);
}

#nav_check:checked ~ label .hamburger__line::after {
  -webkit-transform: rotateZ(-80deg) translateY(-2px);
          transform: rotateZ(-80deg) translateY(-2px);
}

.section-launching__soon {
  background-color: rgba(49, 49, 49, 0.1);
  padding: 20rem 0 25rem;
  margin-top: -20vh;
}

.section-surprises {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(rgba(28, 0, 153, 0.74)));
  background-image: linear-gradient(to right bottom, #2998ff, rgba(28, 0, 153, 0.74));
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -0.8rem;
  padding: 10rem 0 15rem;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  margin-top: -8rem;
}

.section-surprises > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.section-most__bought {
  padding: 10rem 0 20rem;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, rgba(28, 0, 153, 0.74)), to(rgba(255, 255, 255, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(28, 0, 153, 0.74) 30%, rgba(255, 255, 255, 0.4));
  background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  margin: -1rem 0 -7.5rem;
}

.section-most__bought > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.section-stories {
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 15rem 0 5rem;
  position: relative;
}

.section-review {
  padding: 10rem 0 15rem;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(30%, rgba(28, 0, 153, 0.74)), to(#fff));
  background-image: linear-gradient(to right bottom, rgba(28, 0, 153, 0.74) 30%, #fff);
}

.section-review .book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../img/listening.jpg);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  border-radius: 4px;
  height: 50rem;
  background-position: bottom;
  position: relative;
}

.section-review .book__form {
  width: 50%;
  height: 100%;
  padding: 6rem;
}

@media (max-width: 60.5em) {
  .section-review .book__form {
    width: 100%;
    padding: 4rem;
  }
}

@media (max-width: 37.5em) {
  .section-review .book__form {
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 60.5em) {
  .section-review .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 100%, transparent 0%), url(../img/listening.jpg);
  }
}

.footer {
  background-color: black;
}

/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.54%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 60.5em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
