.form{
     &__group{
        margin-bottom: 3rem;
        position: relative;
     }

     &__input__text{
         resize: none;
     }

     &__input,&__input__text{
        width: 90%;
        box-shadow: 0rem 0.5rem 4rem rgba(0,0,0,0.1);
        background-color: rgba(white,0.95);
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        display: block;
        border: none;
        margin-bottom: 1rem;
        border-radius: 3px;
        font-family: inherit;
        color: inherit;
        border-bottom: 3px solid transparent;
        transition: all 0.3s;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 4rem rgba($color-black,0.2);
            border-bottom: 3px solid green;

            &:invalid{
                border-bottom: 3px solid red;
            }
        }

        &::-webkit-input-placeholder{
            color: rgba(0,0,0,0.4);
        }
     }

     &__label{
        display: block;
        margin-left: 1.7rem;
        position: absolute;
        font-size: 1.6rem;
        font-weight: 700;
        bottom: 100%;
        opacity: 1;
        transition: all 0.3s;
     }

     &__input:placeholder-shown + &__label{
        opacity: 0;
        transform: translateY(3rem);
     }

     &__input:focus &__label{
         bottom: 0%;
     }

     &__input__text:placeholder-shown + &__label{
        opacity: 0;
        transform: translateY(3rem);
     }

     &__input__text:focus &__label{
         bottom: 0%;
     }
}