.story{
    background-color: rgba(100%,100%,100%,0.4);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .2);
    width: 75%;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 4rem;
    position: relative;
    padding-left: 7rem;
    border-radius: 3px;
    transform: skewX(-12deg);
    
    &__bg{
        margin-top: -15rem;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right bottom,
        rgba(49, 49, 49, 0.1),
        rgba(white,0.4)),url(../img/Stories_bg.gif);
        clip-path: polygon(0% 16%,100% 0,100% 100%,0% 100%);
        background-size: cover;
        filter: opacity(0.15);
        z-index: -1;
    }

    &__shape{
        float: left;
        width: 15rem;
        height: 15rem;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);//this helps to place things around a element in a certain path.
        overflow: hidden;
        transform: translateX(-2rem) skewX(12deg);
        position: relative;
    }

    &__caption{
        color:white;
        font-size: 1.7rem;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%,10%);
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    &__image{
        height: 200%;
        transition: all 0.4s ease;

        &--1{
            transform : translate(-10%,-20%);
        }

        &--2{
            transform : translate(-32%,-15%);
        }
    }

    &:hover {
        .story__image{

            &--1{
                transform: scale(0.8) translate(-10%,-20%);
            }

            &--2{
                transform: scale(0.8) translate(-40%,-15%);
            }

            filter: blur(3px) brightness(80%);
        }

        .story__caption{
            transform: translate(-47%,-50%);
            opacity: 1;
        }
    }

    &__text{
        text-align: left;
        transform: skewX(12deg);
    }

    @include respond(phone)
    {
        &,&__text,&__shape{
            transform: skewX(0);
        }

        &__shape{
            float: none;
            margin-bottom: 3rem;
        }

        &__caption{
            opacity: 1;
            transform: translate(-47%,-50%);
        }

        &__image{
            filter: blur(2px) brightness(80%);
        }
    }
}