.section-launching__soon{
    background-color:rgba(49, 49, 49, 0.1);
    padding:20rem 0 25rem;
    margin-top: -20vh;
}

.section-surprises{
    background-image: linear-gradient(to right bottom,
    $color-primary-light,
    $color-primary-dark);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -0.8rem;
    padding:10rem 0 15rem;
    transform: skewY(-6deg);
    margin-top: -8rem;
    & > *{
        transform: skewY(6deg);
    }
}

.section-most__bought{
    padding: 10rem 0 20rem;
    background-image: linear-gradient(
        to right bottom,
        $color-primary-dark 30%,
        rgba(white,0.4));
    background-size: cover;
    background-position: center;
    transform: skewY(-6deg);
    margin: -1rem 0 -7.5rem; 
    & > *{
        transform: skewY(6deg);
    }
}


.section-stories{
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 15rem 0 5rem;
    position: relative;
}

.section-review{
    padding: 10rem 0 15rem;
    background-image: linear-gradient(to right bottom,
                                    $color-primary-dark 30%,
                                    $color-white );
    
    .book{
        background-image: linear-gradient(105deg,
                                        rgba($color-white,0.7) 50%,
                                        transparent 50%),
                        url(../img/listening.jpg);
        box-shadow: 0 2rem 4rem rgba(0,0,0,0.3);                
        background-size: cover;
        border-radius: 4px;
        height: 50rem;
        background-position: bottom;
        position: relative;

        &__form{
            width: 50%;
            height: 100%;
            padding: 6rem;

            @include respond(tab_p){
                width: 100%;
                padding: 4rem;
            }
            @include respond(phone){
                width: 100%;
                padding: 2rem;
            }
        }
        @include respond(tab_p){
            background-image: linear-gradient(105deg,
                                        rgba($color-white,0.7) 100%,
                                        transparent 0%),
                        url(../img/listening.jpg);            
        }
    }
}

.footer{
    background-color: black;
}